{% extends 'base.html' %}

{% load static %}

{% block 'head' %}
    <link rel="stylesheet" href="{% static 'autenticacao/css/cadastro.css' %}">
{% endblock 'head' %}

{% block 'body' %}
    <div class="box">
        <form action="{% url 'password_reset' %}" method="post">
            {% csrf_token %}
    
            {{form}}
    
            <input type="submit" value="Recuperar" class="btn btn-success btn-sm">
            {% if form.errors %}
                {{form.errors}}
            {% endif %}
        </form>
    </div>
{% endblock 'body' %}